<include file="Public/header" />
<link rel="stylesheet" href="__PUBLIC__/plugins/ztree_v3/css/zTreeStyle/zTreeStyle.css">
<style>
    .ztree li ul {
        padding-left: 40px;
    }
    .ztree li a.level0{
        font-weight: bold;
        color: #ff6400;
    }
    .ztree li a.level0 .node_name {
        margin-left: 6px;
    }
</style>
</head>

<body>

<div id="cl-wrapper" class="fixed-menu">

    <div class="container-fluid" id="pcont">
        <div class="" style="padding-top: 15px;">

            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h3 class="qq">角色权限配置
                                <button disabled class="btn btn-default btn-xs"><i class="fa fa-angle-right"></i></button>
                                <strong>{$name}</strong>
                                <a href="{:U('rbac/role')}" type="button" class="btn btn-default btn-sm">
                                    返回<i class="fa fa-angle-right"></i>
                                </a>
                            </h3>
                        </div>
                        <div class="content">

                            <ul id="permissontree" class="ztree"></ul>

                            <button class="btn btn-primary" onclick="saveNewAccess()">保存</button>

                            <!--<div class="table-responsive">
                                <form action="{:U('rbac/saveNewAccess', array('rid'=>$rid))}" method="post" target="_self">
                                    <foreach name="nodeData" item="app">
                                        <table class="table no-border hover app">
                                            <thead class="no-border">
                                            <tr>
                                                <th style="width:20%;">
                                                    <label>
                                                        <input type="checkbox" name="access[]" value="{$app.id}-1" level="1"
                                                        <in name="app.id" value="$accessData">checked</in>  >
                                                        {$app.title}
                                                    </label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="no-border-y">
                                            <foreach name="app.child" item="controller">
                                                <tr>
                                                    <td style="padding-left: 2em;">
                                                        <label >
                                                            <input type="checkbox" name="access[]" value="{$controller.id}-2" level="2"
                                                            <in name="controller.id" value="$accessData">checked</in>  >
                                                            {$controller.title}
                                                        </label>

                                                    </td>
                                                </tr>
                                                <tr class="method">
                                                    <td style="padding-left: 4em;">
                                                        <foreach name="controller.child" item="method">
                                                            <label style="display: inline-block; margin-right: 20px;">
                                                                <input type="checkbox" name="access[]" value="{$method.id}-1" level="3"
                                                                <in name="method.id" value="$accessData">checked</in>  >
                                                                {$method.title}
                                                            </label>
                                                        </foreach>
                                                    </td>
                                                </tr>
                                            </foreach>
                                            </tbody>
                                        </table>
                                    </foreach>
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <button class="btn btn-default" type="reset">清空</button>
                                </form>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <foreach name="nodeData" item="m">
                {$m.name}
            </foreach>
        </div>
    </div>

</div>

<include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/plugins/ztree_v3/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/ztree_v3/js/jquery.ztree.excheck.min.js"></script>
<script>

    // ztree 树形属性与回调方法设置
    var setting = {
        check: {
            enable: true
        },
        data: {
            key: {
                icon: 'noicon',
                url: 'nourl',
                name: 'title'
            },
            simpleData: {
                enable: false
            },
            async: {
                enable: true
            }
        },
        callback: {
            onClick: onClickNode
        }
    };

    // 所有可选的权限节点
    var zNodes = JSON.parse('{$nodeData}');

    $(function() {
        $.fn.zTree.init($("#permissontree"), setting, zNodes);
    });

    // 点击节点时勾选或取消勾选该节点
    function onClickNode(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj("permissontree");
        if(treeNode.checked == true) {
            treeObj.checkNode(treeNode, false, true);
        } else {
            treeObj.checkNode(treeNode, true, true);
        }
    }

    // 为当前角色保存新的权限
    function saveNewAccess() {
        var tmp = [];
        var treeObj = $.fn.zTree.getZTreeObj("permissontree");
        var checkednodes = treeObj.getCheckedNodes(true);
        for(var i = 0; i < checkednodes.length; i++) {
            tmp.push(checkednodes[i].id);
        }
        var roleid = "{$rid}";
        console.log(tmp, roleid);
        $.ajax({
            url: '{:U("saveNewAccess")}',
            method: 'post',
            data: {
                access: tmp,
                rid: roleid
            },
            dataType: 'json',
            success: function(res) {
                if(res.err == 0) {
                    layer.msg(res.msg, {time: res.wait*1000});
                    console.log(res.url);
                    setTimeout(function() {
                        window.location.href = res.url;
                    }, res.wait*1000);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function(err) {
                layer.msg(JSON.stringify(err));
            }
        })
    }
</script>
</body>
</html>