<include file="Public/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/bootstrap.switch/bootstrap-switch.min.css" />
</head>

<body>

<div id="cl-wrapper" class="fixed-menu">

    <div class="container-fluid" id="pcont">
        <div class="" style="padding-top: 15px;">

            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h3>编辑用户
                                <a href="{:U('rbac/user')}" type="button" class="btn btn-default btn-sm">
                                    返回 <i class="fa fa-angle-right"></i>
                                </a>
                            </h3>
                        </div>
                        <div class="content">

                            <form id="editUser">
                                <div class="form-group">
                                    <label>用户名称：</label>
                                    <input type="text" name="name" placeholder="请输入用户名称" value="{$userData.name}"
                                           class="form-control" readonly>
                                </div>

                                <div class="form-group">
                                    <label>手机号：</label>
                                    <input type="number" name="phone" placeholder="请输入手机号"
                                           value="{$userData.phone}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>邮箱：</label>
                                    <input type="email" name="email" placeholder="请输入邮箱"
                                           value="{$userData.email}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>分配角色：</label>
                                    <foreach name="roleData" item="role">
                                        <label style=" margin-right: 10px;">
                                            <input type="checkbox" name="role_id[]" value="{$role.id}"
                                                <in name="role.id" value="$role_ids">checked</in> >{$role.name}
                                        </label>
                                    </foreach>
                                </div>

                                <div class="form-group">
                                    <label>用户状态（当前：<span id="st">默认开启</span>）：</label>
                                    <input class="switch" name="cstatus" type="checkbox" checked data-on-color="success"
                                           data-off-color="primary" onchange="chgST()">
                                    <input type="hidden" name="status" value="1">
                                </div>

                                <input type="hidden" name="id" value="{$userData.id}">
                            </form>
                            <button class="btn btn-primary eventSaveBtn">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.switch/bootstrap-switch.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/jquery/jquery.serializejson.js"></script>
<script>

    $(document).ready(function() {
        $('.switch').bootstrapSwitch();
    });

    $('.eventSaveBtn').click(function() {
        var postdata = $("form#editUser").serializeJSON();
        console.log(postdata);
        if(postdata.name == "") {
            layer.msg('用户名必填'); return;
        }
        if(postdata.phone == "" || !is_mobile_phone(postdata.phone)) {
            layer.msg('请填写正确的手机号'); return;
        }
        if(postdata.email == "" || !is_email(postdata.email)) {
            layer.msg('请填写正确的邮箱地址'); return;
        }
        $.ajax({
            url: '{:U("editUser")}',
            method: 'post',
            data: postdata,
            dataType: 'json',
            success: function(res) {
                if(res.err == 0) {
                    layer.msg(res.msg, {time: res.wait*1000});
                    setTimeout(function() {
                        top.location.reload();
                    }, res.wait*1000);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function(err) {
                layer.msg(err.msg);
            }
        })
    })

</script>
</body>
</html>