<include file="Public/header" />
<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/jquery.easypiechart/jquery.easy-pie-chart.css" />-->
</head>

<body>

<div id="cl-wrapper" class="fixed-menu">

    <div class="container-fluid" id="pcont">
        <div class="cl-mcont" style="padding-top: 15px;">

            <!--<div class="stats_bar">
                <div class="butpro butstyle" data-step="2" data-intro="<strong>Beautiful Elements</strong> <br/> If you are looking for a different UI, this is for you!.">
                    <div class="sub"><h2>CLIENTS</h2><span id="total_clientes">170</span></div>
                    <div class="stat"><span class="spk1"><canvas style="display: inline-block; width: 74px; height: 16px; vertical-align: top;" width="74" height="16"></canvas></span></div>
                </div>
                <div class="butpro butstyle">
                    <div class="sub"><h2>Sales</h2><span>$951,611</span></div>
                    <div class="stat"><span class="up"> 13,5%</span></div>
                </div>
                <div class="butpro butstyle">
                    <div class="sub"><h2>VISITS</h2><span>125</span></div>
                    <div class="stat"><span class="down"> 20,7%</span></div>
                </div>
                <div class="butpro butstyle">
                    <div class="sub"><h2>NEW USERS</h2><span>18</span></div>
                    <div class="stat"><span class="equal"> 0%</span></div>
                </div>
                <div class="butpro butstyle">
                    <div class="sub"><h2>AVERAGE</h2><span>3%</span></div>
                    <div class="stat"><span class="spk2"></span></div>
                </div>
                <div class="butpro butstyle">
                    <div class="sub"><h2>Downloads</h2><span>184</span></div>
                    <div class="stat"><span class="spk3"></span></div>
                </div>

            </div>-->

            <div class="row dash-cols">

                <div class="col-sm-6 col-md-6">
                    <div class="block">
                        <div class="header no-border">
                            <h2>Sales</h2>
                        </div>
                        <div class="content blue-chart"  data-step="3" data-intro="<strong>Unique Styled Plugins</strong> <br/> We put love in every detail to give a great user experience!.">
                            <div id="site_statistics" style="height:180px;"></div>
                        </div>
                        <div class="content">
                            <div class="stat-data">
                                <div class="stat-blue">
                                    <h2>1,254</h2>
                                    <span>Total Sales</span>
                                </div>
                            </div>
                            <div class="stat-data">
                                <div class="stat-number">
                                    <div><h2>83</h2></div>
                                    <div>Total hits<br /><span>(Daily)</span></div>
                                </div>
                                <div class="stat-number">
                                    <div><h2>57</h2></div>
                                    <div>Views<br /><span>(Daily)</span></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="block">
                        <div class="header no-border">
                            <h2>Monitor</h2>
                        </div>
                        <div class="content red-chart">
                            <div id="site_statistics2" style="height:152px;"></div>
                        </div>
                        <div class="content no-padding">
                            <table class="red">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="right"><span>25%</span>C.P.U</th>
                                    <th class="right"><span>29%</span>Memory</th>
                                    <th class="right"><span>16%</span>Disc</th>
                                </tr>
                                </thead>
                                <tbody class="no-border-x">
                                <tr>
                                    <td style="width:40%;"><i class="fa fa-sitemap"></i> Server load</td>
                                    <td class="text-right">0,2%</td>
                                    <td class="text-right">13,2 MB</td>
                                    <td class="text-right">0,1 MB/s</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-tasks"></i> Apps</td>
                                    <td class="text-right">0,2%</td>
                                    <td class="text-right">13,2 MB</td>
                                    <td class="text-right">0,1 MB/s</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-signal"></i> Process</td>
                                    <td class="text-right">0,2%</td>
                                    <td class="text-right">13,2 MB</td>
                                    <td class="text-right">0,1 MB/s</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-bolt"></i> Wamp Server</td>
                                    <td class="text-right">0,2%</td>
                                    <td class="text-right">13,2 MB</td>
                                    <td class="text-right">0,1 MB/s</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<include file="Public/footer" />

</body>
</html>