
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
<script src="__PUBLIC__/admin/js/lynch.js"></script>

<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.easypiechart/jquery.easy-pie-chart.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.flot/jquery.flot.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.flot/jquery.flot.labels.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/plugins/layer_2/layer.js"></script>

<script src="__PUBLIC__/admin/js/behaviour/common.js"></script>

